/* CSS for section titles */
#section_title {
    color: rgb(80, 120, 220);
    background-color: saddlebrown;
    text-decoration: silver;
}

/* CSS for videos in the minutes */
.video {
    margin: 1cm 1cm 1cm 1cm;
    border-style: groove;
    border-color: aqua;
    border-width: 6px;
    border-radius: .85%;
}

/* CSS for logic flow diagrams */
.flow {
    padding: .5vw 4vw 4vw 4vw;
    border: dashed 1ex deeppink;
}

section {
    display: grid;
}

/* CSS for unordered lists */
ul {
    color: #023685;
    padding-top: 1.4em;
    padding-right: 1.4em;
    padding-bottom: 1.4em;
    padding-left: 1.4em;
}

details {
    color: hsl(1, .5, .5);
}

.box {
    display: flex;
    color: forestgreen;
    fill: red;
    justify-content: center;
    border: dashed 1px black;
}

.box:hover {
    fill: none;
}